.vlabs-page {
    min-height: 100vh;
    overflow-x: hidden;
}

.vlabs-header {
    border-bottom: 8px solid #ff6600;
    font-family: 'Raleway', sans-serif;
}

.vlabs-page-main {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

.vlabs-lab-name {
    font-size: 1.7rem;
}

.vlabs-footer {
    font-size: 14px;
    background: rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
}

.vlabs-footer-sect-name {
    border-width: 0.15rem;
    border-style: solid;
    border-image: linear-gradient( to right, #3EC1D5 20%, #555 0% ) 0% 0% 100% 0%;
}

.vlabs-lab-name {
    color: #2C99CE;
}

.vlabs-page-content {
    border-left: 2px dotted #89a7c4;
    overflow-y: hidden;
    font-family: 'Raleway', sans-serif;
}

.social-links > a {
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.sidebar a {
    color: #3e6389;
}
.sidebar a:hover {
    color: #ff6600;
}

.sidebar {
    font-size: 1.2rem;
    font-weight: bold;
}


.vlabs-header a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: #2C98CD;
}


.vlabs-header #headerNavbar a:hover {    
    background: #77BB41;
    color: #fff;
    border-radius: 10px;
}

.vlabs-header #headerNavbar a {
    border-radius: 10px;
    transition: 0.3s;
}

.breadcrumbs, .breadcrumbs a, .breadcrumbs span {
    font-size: 1.6rem;
    color: #337ab7;
}

.page-name {
    color: #337ab7;
}

/*pre-test and post-test page styling fix*/

.answers {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.question {
    font-weight: 900;
}

/* feedback */
#feedback-btn {
    color: #2C99CE;
    border-color: #2C99CE;
}


/* to override markdown styling */
.markdown-body > div {
    font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3 {
    color: #2C99CE;
}