<footer class="text-light pt-2 vlabs-footer d-flex flex-column">
  <div class="row px-5 mx-0">
    <div class="col d-flex flex-column">
      <span class="font-weight-bold vlabs-footer-sect-name pb-2 mb-3">Community Links</span>
      <a href="https://www.sakshat.ac.in/" class="text-light">Sakshat Portal</a>
      <a href="http://outreach.vlabs.ac.in/" class="text-light">Outreach Portal</a>
      <a href="https://vlab.co.in/faq" class="text-light">FAQ: Virtual Labs</a>
    </div>
    <div class="col d-flex flex-column">
      <span class="font-weight-bold vlabs-footer-sect-name pb-2 mb-3">Contact Us</span>
      <span> Phone: General Information: 011-26582050 </span>
      <span> Email: support@vlabs.ac.in </span>
    </div>
    <div class="col d-flex flex-column">
      <span class="font-weight-bold vlabs-footer-sect-name pb-2 mb-3">Follow Us</span>
      <div class="social-links">
	<a class="p-2 mt-1 mr-2 d-inline-flex justify-content-center align-items-center" style="background: #55acee;" href="https://twitter.com/TheVirtualLabs">
	  <i class="fa fa-twitter"></i>
	</a>
	<a class="p-2 mt-1 mr-2 d-inline-flex justify-content-center align-items-center" style="background: #3b5998;" href="https://www.facebook.com/Virtual-Labs-IIT-Delhi-301510159983871/">
	  <i class="fa fa-facebook"></i>
	</a>
	<a class="p-2 mt-1 mr-2 d-inline-flex justify-content-center align-items-center" style="background: #e52d27;" href="https://www.youtube.com/watch?v=asxRaOgk6a0">
	  <i class="fa fa-youtube"></i>
	</a>
	<a class="p-2 mt-1 mr-2 d-inline-flex justify-content-center align-items-center" style="background: #2867B2;" href="https://in.linkedin.com/in/virtual-labs-008ba9136">
	  <i class="fa fa-linkedin"></i>
	</a>
      </div>
    </div>
  </div>
  <div class="m-0 py-2 text-center" style='font-family: "Open Sans", sans-serif; background: #212121;'>
    <a class="text-primary font-weight-bold" href="https://www.gnu.org/licenses/agpl-3.0.en.html"> AGPL 3.0 </a>
    &nbsp;&amp;&nbsp;
    <a class="text-primary font-weight-bold" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> Creative Commons (CC BY-NC-SA 4.0) </a>
  </div>
</footer>
