<header class="vlabs-header sticky-top bg-white">
  <nav class="p-0 navbar navbar-light d-flex align-items-stretch">
    
    <button class="navbar-toggler px-4"
	    type="button"
	    data-bs-toggle="collapse"
	    data-bs-target="#menu"
	    aria-controls="menu"
	    aria-expanded="true" aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
      
    </button>

    <div class="d-flex justify-content-center">        
      <a href="http://vlab.co.in" class="navbar-brand">
        <img src="../assets/images/vlabs-color-small-moe.jpg" alt="vlabs logo">
      </a>
    </div>
    
    <div id="headerNavbar" class="border-top flex-grow-1 d-flex align-items-center">
      <ul class="navbar-nav ml-auto text-center d-flex flex-md-row">
        <li class="nav-item px-2 m-1">
          <a href="http://vlab.co.in">HOME</a>
        </li>
        <li class="nav-item px-2 m-1">
          <a href="http://vlab.co.in/participating-institutes">PARTNERS</a>
        </li>
        <li class="nav-item px-2 m-1">
          <a href="http://vlab.co.in/contact-us">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
