{{#if testing}}
<div class="vl-rating-submit-mobile">
    <rating-submit>
        title="experiment-rating"
        rating_name = {{exp_short_name}}
        id="rating-button"
    </rating-submit>
</div>
{{/if}}