<div class="modal fade popupmenu" id="popupMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <a href="https://vlab.co.in" class="navbar-brand">
                        <img src="{{assets_path}}/assets/images/vlabs-color-small-moe.jpg" alt="vlabs logo" class="vlabs-logo">
                    </a>
                </h5>
                <button type="button" class="btn-close align-self-center" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body nav-menu">
                {{> nav_menu_items }}
            </div>
        </div>
    </div>
</div>
