/* --------------------------------------

1. Responsive Break Points
--------------------------------------------------------*/
/** ************************************* **
	DO NOT CHANGE ANYTHING HERE!
	REWRITE IN A CUSTOM CSS FILE IF REQUIRED!
 ** ************************************* **/

@media (max-width: 575.98px) {
    .res-xs-p-0 {
        padding: 0px !important;
    }

    .res-xs-m-t-50 {
        margin-top: 50px !important;
    }

    .res-xs-m-t-49 {
        margin-top: 49px !important;
    }

    .res-xs-m-t-48 {
        margin-top: 48px !important;
    }

    .res-xs-m-t-47 {
        margin-top: 47px !important;
    }

    .res-xs-m-t-46 {
        margin-top: 46px !important;
    }

    .res-xs-m-t-45 {
        margin-top: 45px !important;
    }

    .res-xs-m-t-44 {
        margin-top: 44px !important;
    }

    .res-xs-m-t-43 {
        margin-top: 43px !important;
    }

    .res-xs-m-t-42 {
        margin-top: 42px !important;
    }

    .res-xs-m-t-41 {
        margin-top: 41px !important;
    }

    .res-xs-m-t-40 {
        margin-top: 40px !important;
    }

    .res-xs-m-t-39 {
        margin-top: 39px !important;
    }

    .res-xs-m-t-38 {
        margin-top: 38px !important;
    }

    .res-xs-m-t-37 {
        margin-top: 37px !important;
    }

    .res-xs-m-t-36 {
        margin-top: 36px !important;
    }

    .res-xs-m-t-35 {
        margin-top: 35px !important;
    }

    .res-xs-m-t-34 {
        margin-top: 34px !important;
    }

    .res-xs-m-t-33 {
        margin-top: 33px !important;
    }

    .res-xs-m-t-32 {
        margin-top: 32px !important;
    }

    .res-xs-m-t-31 {
        margin-top: 31px !important;
    }

    .res-xs-m-t-30 {
        margin-top: 30px !important;
    }

    .res-xs-m-t-29 {
        margin-top: 29px !important;
    }

    .res-xs-m-t-28 {
        margin-top: 28px !important;
    }

    .res-xs-m-t-27 {
        margin-top: 27px !important;
    }

    .res-xs-m-t-26 {
        margin-top: 26px !important;
    }

    .res-xs-m-t-25 {
        margin-top: 25px !important;
    }

    .res-xs-m-t-24 {
        margin-top: 24px !important;
    }

    .res-xs-m-t-23 {
        margin-top: 23px !important;
    }

    .res-xs-m-t-22 {
        margin-top: 22px !important;
    }

    .res-xs-m-t-21 {
        margin-top: 21px !important;
    }

    .res-xs-m-t-20 {
        margin-top: 20px !important;
    }

    .res-xs-m-t-19 {
        margin-top: 19px !important;
    }

    .res-xs-m-t-18 {
        margin-top: 18px !important;
    }

    .res-xs-m-t-17 {
        margin-top: 17px !important;
    }

    .res-xs-m-t-16 {
        margin-top: 16px !important;
    }

    .res-xs-m-t-15 {
        margin-top: 15px !important;
    }

    .res-xs-m-t-14 {
        margin-top: 14px !important;
    }

    .res-xs-m-t-13 {
        margin-top: 13px !important;
    }

    .res-xs-m-t-12 {
        margin-top: 12px !important;
    }

    .res-xs-m-t-11 {
        margin-top: 11px !important;
    }

    .res-xs-m-t-10 {
        margin-top: 10px !important;
    }

    .res-xs-m-t-9 {
        margin-top: 9px !important;
    }

    .res-xs-m-t-8 {
        margin-top: 8px !important;
    }

    .res-xs-m-t-7 {
        margin-top: 7px !important;
    }

    .res-xs-m-t-6 {
        margin-top: 6px !important;
    }

    .res-xs-m-t-5 {
        margin-top: 5px !important;
    }

    .res-xs-m-t-4 {
        margin-top: 4px !important;
    }

    .res-xs-m-t-3 {
        margin-top: 3px !important;
    }

    .res-xs-m-t-2 {
        margin-top: 2px !important;
    }

    .res-xs-m-t-1 {
        margin-top: 1px !important;
    }

    .res-xs-m-t-0 {
        margin-top: 0px !important;
    }

    .res-xs-m-b-20 {
        margin-bottom: 20px !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .res-sm-m-b-20 {
        margin-bottom: 20px !important;
    }

    .res-sm-m-t-50 {
        margin-top: 50px !important;
    }

    .res-sm-m-t-49 {
        margin-top: 49px !important;
    }

    .res-sm-m-t-48 {
        margin-top: 48px !important;
    }

    .res-sm-m-t-47 {
        margin-top: 47px !important;
    }

    .res-sm-m-t-46 {
        margin-top: 46px !important;
    }

    .res-sm-m-t-45 {
        margin-top: 45px !important;
    }

    .res-sm-m-t-44 {
        margin-top: 44px !important;
    }

    .res-sm-m-t-43 {
        margin-top: 43px !important;
    }

    .res-sm-m-t-42 {
        margin-top: 42px !important;
    }

    .res-sm-m-t-41 {
        margin-top: 41px !important;
    }

    .res-sm-m-t-40 {
        margin-top: 40px !important;
    }

    .res-sm-m-t-39 {
        margin-top: 39px !important;
    }

    .res-sm-m-t-38 {
        margin-top: 38px !important;
    }

    .res-sm-m-t-37 {
        margin-top: 37px !important;
    }

    .res-sm-m-t-36 {
        margin-top: 36px !important;
    }

    .res-sm-m-t-35 {
        margin-top: 35px !important;
    }

    .res-sm-m-t-34 {
        margin-top: 34px !important;
    }

    .res-sm-m-t-33 {
        margin-top: 33px !important;
    }

    .res-sm-m-t-32 {
        margin-top: 32px !important;
    }

    .res-sm-m-t-31 {
        margin-top: 31px !important;
    }

    .res-sm-m-t-30 {
        margin-top: 30px !important;
    }

    .res-sm-m-t-29 {
        margin-top: 29px !important;
    }

    .res-sm-m-t-28 {
        margin-top: 28px !important;
    }

    .res-sm-m-t-27 {
        margin-top: 27px !important;
    }

    .res-sm-m-t-26 {
        margin-top: 26px !important;
    }

    .res-sm-m-t-25 {
        margin-top: 25px !important;
    }

    .res-sm-m-t-24 {
        margin-top: 24px !important;
    }

    .res-sm-m-t-23 {
        margin-top: 23px !important;
    }

    .res-sm-m-t-22 {
        margin-top: 22px !important;
    }

    .res-sm-m-t-21 {
        margin-top: 21px !important;
    }

    .res-sm-m-t-20 {
        margin-top: 20px !important;
    }

    .res-sm-m-t-19 {
        margin-top: 19px !important;
    }

    .res-sm-m-t-18 {
        margin-top: 18px !important;
    }

    .res-sm-m-t-17 {
        margin-top: 17px !important;
    }

    .res-sm-m-t-16 {
        margin-top: 16px !important;
    }

    .res-sm-m-t-15 {
        margin-top: 15px !important;
    }

    .res-sm-m-t-14 {
        margin-top: 14px !important;
    }

    .res-sm-m-t-13 {
        margin-top: 13px !important;
    }

    .res-sm-m-t-12 {
        margin-top: 12px !important;
    }

    .res-sm-m-t-11 {
        margin-top: 11px !important;
    }

    .res-sm-m-t-10 {
        margin-top: 10px !important;
    }

    .res-sm-m-t-9 {
        margin-top: 9px !important;
    }

    .res-sm-m-t-8 {
        margin-top: 8px !important;
    }

    .res-sm-m-t-7 {
        margin-top: 7px !important;
    }

    .res-sm-m-t-6 {
        margin-top: 6px !important;
    }

    .res-sm-m-t-5 {
        margin-top: 5px !important;
    }

    .res-sm-m-t-4 {
        margin-top: 4px !important;
    }

    .res-sm-m-t-3 {
        margin-top: 3px !important;
    }

    .res-sm-m-t-2 {
        margin-top: 2px !important;
    }

    .res-sm-m-t-1 {
        margin-top: 1px !important;
    }

    .res-sm-m-t-0 {
        margin-top: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .res-md-m-t-50 {
        margin-top: 50px !important;
    }

    .res-md-m-t-49 {
        margin-top: 49px !important;
    }

    .res-md-m-t-48 {
        margin-top: 48px !important;
    }

    .res-md-m-t-47 {
        margin-top: 47px !important;
    }

    .res-md-m-t-46 {
        margin-top: 46px !important;
    }

    .res-md-m-t-45 {
        margin-top: 45px !important;
    }

    .res-md-m-t-44 {
        margin-top: 44px !important;
    }

    .res-md-m-t-43 {
        margin-top: 43px !important;
    }

    .res-md-m-t-42 {
        margin-top: 42px !important;
    }

    .res-md-m-t-41 {
        margin-top: 41px !important;
    }

    .res-md-m-t-40 {
        margin-top: 40px !important;
    }

    .res-md-m-t-39 {
        margin-top: 39px !important;
    }

    .res-md-m-t-38 {
        margin-top: 38px !important;
    }

    .res-md-m-t-37 {
        margin-top: 37px !important;
    }

    .res-md-m-t-36 {
        margin-top: 36px !important;
    }

    .res-md-m-t-35 {
        margin-top: 35px !important;
    }

    .res-md-m-t-34 {
        margin-top: 34px !important;
    }

    .res-md-m-t-33 {
        margin-top: 33px !important;
    }

    .res-md-m-t-32 {
        margin-top: 32px !important;
    }

    .res-md-m-t-31 {
        margin-top: 31px !important;
    }

    .res-md-m-t-30 {
        margin-top: 30px !important;
    }

    .res-md-m-t-29 {
        margin-top: 29px !important;
    }

    .res-md-m-t-28 {
        margin-top: 28px !important;
    }

    .res-md-m-t-27 {
        margin-top: 27px !important;
    }

    .res-md-m-t-26 {
        margin-top: 26px !important;
    }

    .res-md-m-t-25 {
        margin-top: 25px !important;
    }

    .res-md-m-t-24 {
        margin-top: 24px !important;
    }

    .res-md-m-t-23 {
        margin-top: 23px !important;
    }

    .res-md-m-t-22 {
        margin-top: 22px !important;
    }

    .res-md-m-t-21 {
        margin-top: 21px !important;
    }

    .res-md-m-t-20 {
        margin-top: 20px !important;
    }

    .res-md-m-t-19 {
        margin-top: 19px !important;
    }

    .res-md-m-t-18 {
        margin-top: 18px !important;
    }

    .res-md-m-t-17 {
        margin-top: 17px !important;
    }

    .res-md-m-t-16 {
        margin-top: 16px !important;
    }

    .res-md-m-t-15 {
        margin-top: 15px !important;
    }

    .res-md-m-t-14 {
        margin-top: 14px !important;
    }

    .res-md-m-t-13 {
        margin-top: 13px !important;
    }

    .res-md-m-t-12 {
        margin-top: 12px !important;
    }

    .res-md-m-t-11 {
        margin-top: 11px !important;
    }

    .res-md-m-t-10 {
        margin-top: 10px !important;
    }

    .res-md-m-t-9 {
        margin-top: 9px !important;
    }

    .res-md-m-t-8 {
        margin-top: 8px !important;
    }

    .res-md-m-t-7 {
        margin-top: 7px !important;
    }

    .res-md-m-t-6 {
        margin-top: 6px !important;
    }

    .res-md-m-t-5 {
        margin-top: 5px !important;
    }

    .res-md-m-t-4 {
        margin-top: 4px !important;
    }

    .res-md-m-t-3 {
        margin-top: 3px !important;
    }

    .res-md-m-t-2 {
        margin-top: 2px !important;
    }

    .res-md-m-t-1 {
        margin-top: 1px !important;
    }

    .res-md-m-t-0 {
        margin-top: 0px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .res-lg-m-t-50 {
        margin-top: 50px !important;
    }

    .res-lg-m-t-49 {
        margin-top: 49px !important;
    }

    .res-lg-m-t-48 {
        margin-top: 48px !important;
    }

    .res-lg-m-t-47 {
        margin-top: 47px !important;
    }

    .res-lg-m-t-46 {
        margin-top: 46px !important;
    }

    .res-lg-m-t-45 {
        margin-top: 45px !important;
    }

    .res-lg-m-t-44 {
        margin-top: 44px !important;
    }

    .res-lg-m-t-43 {
        margin-top: 43px !important;
    }

    .res-lg-m-t-42 {
        margin-top: 42px !important;
    }

    .res-lg-m-t-41 {
        margin-top: 41px !important;
    }

    .res-lg-m-t-40 {
        margin-top: 40px !important;
    }

    .res-lg-m-t-39 {
        margin-top: 39px !important;
    }

    .res-lg-m-t-38 {
        margin-top: 38px !important;
    }

    .res-lg-m-t-37 {
        margin-top: 37px !important;
    }

    .res-lg-m-t-36 {
        margin-top: 36px !important;
    }

    .res-lg-m-t-35 {
        margin-top: 35px !important;
    }

    .res-lg-m-t-34 {
        margin-top: 34px !important;
    }

    .res-lg-m-t-33 {
        margin-top: 33px !important;
    }

    .res-lg-m-t-32 {
        margin-top: 32px !important;
    }

    .res-lg-m-t-31 {
        margin-top: 31px !important;
    }

    .res-lg-m-t-30 {
        margin-top: 30px !important;
    }

    .res-lg-m-t-29 {
        margin-top: 29px !important;
    }

    .res-lg-m-t-28 {
        margin-top: 28px !important;
    }

    .res-lg-m-t-27 {
        margin-top: 27px !important;
    }

    .res-lg-m-t-26 {
        margin-top: 26px !important;
    }

    .res-lg-m-t-25 {
        margin-top: 25px !important;
    }

    .res-lg-m-t-24 {
        margin-top: 24px !important;
    }

    .res-lg-m-t-23 {
        margin-top: 23px !important;
    }

    .res-lg-m-t-22 {
        margin-top: 22px !important;
    }

    .res-lg-m-t-21 {
        margin-top: 21px !important;
    }

    .res-lg-m-t-20 {
        margin-top: 20px !important;
    }

    .res-lg-m-t-19 {
        margin-top: 19px !important;
    }

    .res-lg-m-t-18 {
        margin-top: 18px !important;
    }

    .res-lg-m-t-17 {
        margin-top: 17px !important;
    }

    .res-lg-m-t-16 {
        margin-top: 16px !important;
    }

    .res-lg-m-t-15 {
        margin-top: 15px !important;
    }

    .res-lg-m-t-14 {
        margin-top: 14px !important;
    }

    .res-lg-m-t-13 {
        margin-top: 13px !important;
    }

    .res-lg-m-t-12 {
        margin-top: 12px !important;
    }

    .res-lg-m-t-11 {
        margin-top: 11px !important;
    }

    .res-lg-m-t-10 {
        margin-top: 10px !important;
    }

    .res-lg-m-t-9 {
        margin-top: 9px !important;
    }

    .res-lg-m-t-8 {
        margin-top: 8px !important;
    }

    .res-lg-m-t-7 {
        margin-top: 7px !important;
    }

    .res-lg-m-t-6 {
        margin-top: 6px !important;
    }

    .res-lg-m-t-5 {
        margin-top: 5px !important;
    }

    .res-lg-m-t-4 {
        margin-top: 4px !important;
    }

    .res-lg-m-t-3 {
        margin-top: 3px !important;
    }

    .res-lg-m-t-2 {
        margin-top: 2px !important;
    }

    .res-lg-m-t-1 {
        margin-top: 1px !important;
    }

    .res-lg-m-t-0 {
        margin-top: 0px !important;
    }
}

@media (min-width: 1200px) {
    .res-xl-m-t-50 {
        margin-top: 50px !important;
    }

    .res-xl-m-t-49 {
        margin-top: 49px !important;
    }

    .res-xl-m-t-48 {
        margin-top: 48px !important;
    }

    .res-xl-m-t-47 {
        margin-top: 47px !important;
    }

    .res-xl-m-t-46 {
        margin-top: 46px !important;
    }

    .res-xl-m-t-45 {
        margin-top: 45px !important;
    }

    .res-xl-m-t-44 {
        margin-top: 44px !important;
    }

    .res-xl-m-t-43 {
        margin-top: 43px !important;
    }

    .res-xl-m-t-42 {
        margin-top: 42px !important;
    }

    .res-xl-m-t-41 {
        margin-top: 41px !important;
    }

    .res-xl-m-t-40 {
        margin-top: 40px !important;
    }

    .res-xl-m-t-39 {
        margin-top: 39px !important;
    }

    .res-xl-m-t-38 {
        margin-top: 38px !important;
    }

    .res-xl-m-t-37 {
        margin-top: 37px !important;
    }

    .res-xl-m-t-36 {
        margin-top: 36px !important;
    }

    .res-xl-m-t-35 {
        margin-top: 35px !important;
    }

    .res-xl-m-t-34 {
        margin-top: 34px !important;
    }

    .res-xl-m-t-33 {
        margin-top: 33px !important;
    }

    .res-xl-m-t-32 {
        margin-top: 32px !important;
    }

    .res-xl-m-t-31 {
        margin-top: 31px !important;
    }

    .res-xl-m-t-30 {
        margin-top: 30px !important;
    }

    .res-xl-m-t-29 {
        margin-top: 29px !important;
    }

    .res-xl-m-t-28 {
        margin-top: 28px !important;
    }

    .res-xl-m-t-27 {
        margin-top: 27px !important;
    }

    .res-xl-m-t-26 {
        margin-top: 26px !important;
    }

    .res-xl-m-t-25 {
        margin-top: 25px !important;
    }

    .res-xl-m-t-24 {
        margin-top: 24px !important;
    }

    .res-xl-m-t-23 {
        margin-top: 23px !important;
    }

    .res-xl-m-t-22 {
        margin-top: 22px !important;
    }

    .res-xl-m-t-21 {
        margin-top: 21px !important;
    }

    .res-xl-m-t-20 {
        margin-top: 20px !important;
    }

    .res-xl-m-t-19 {
        margin-top: 19px !important;
    }

    .res-xl-m-t-18 {
        margin-top: 18px !important;
    }

    .res-xl-m-t-17 {
        margin-top: 17px !important;
    }

    .res-xl-m-t-16 {
        margin-top: 16px !important;
    }

    .res-xl-m-t-15 {
        margin-top: 15px !important;
    }

    .res-xl-m-t-14 {
        margin-top: 14px !important;
    }

    .res-xl-m-t-13 {
        margin-top: 13px !important;
    }

    .res-xl-m-t-12 {
        margin-top: 12px !important;
    }

    .res-xl-m-t-11 {
        margin-top: 11px !important;
    }

    .res-xl-m-t-10 {
        margin-top: 10px !important;
    }

    .res-xl-m-t-9 {
        margin-top: 9px !important;
    }

    .res-xl-m-t-8 {
        margin-top: 8px !important;
    }

    .res-xl-m-t-7 {
        margin-top: 7px !important;
    }

    .res-xl-m-t-6 {
        margin-top: 6px !important;
    }

    .res-xl-m-t-5 {
        margin-top: 5px !important;
    }

    .res-xl-m-t-4 {
        margin-top: 4px !important;
    }

    .res-xl-m-t-3 {
        margin-top: 3px !important;
    }

    .res-xl-m-t-2 {
        margin-top: 2px !important;
    }

    .res-xl-m-t-1 {
        margin-top: 1px !important;
    }

    .res-xl-m-t-0 {
        margin-top: 0px !important;
    }
}