<!--Google Tag Manager-->

<script class="gtm">

    var dataLayer = [{
        'labName': '{{lab}}',
        'discipline': '{{broadArea.name}}',
        'college': '{{collegeName}}',
        'phase': '{{phase}}',
    }];

    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W59SWTR');

</script>
<!--End Google Tag Manager-->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Welcome to Virtual Labs - A MHRD Govt of india Initiative">
<meta name="author" content="Virtual Labs - A MHRD Govt of india Initiative">

<title>Welcome to Virtual Labs - A MHRD Govt of india Initiative</title>
<link rel="shortcut icon" href="images/favicon.ico"/>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/vlabs-style.css" rel="stylesheet"/>
<link rel="stylesheet" href="fonts/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap" rel="stylesheet"/>
<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>