<h3>Target Audience</h3>
<ul class="target-audience">
	<li>
		<span> UG </span>
	</li>
	{{#each targetAudience.UG }}
		<li> {{ this }} </li>
	{{/each}}	
	<li>
		<span> PG </span>
	</li>
	{{#each targetAudience.PG }}
		<li> {{ this }} </li>
	{{/each}}		
</ul>