<ul class="navbar-nav ml-auto text-center d-flex flex-md-row">
    <li class="vl-rating-display">
        <rating-display spreadsheetid="1x12nhpp0QvnsA6x-O1sV4IA9SAbfVsq_wiexWkutOmU" sheetname="Lab-Clean"
            columnname="Lab Name" columnvalue="{{lab}}"
            imagesdirectory="https://virtual-labs.github.io/svc-rating/"></rating-display>
    </li>
    <li class="nav-item px-2 m-1">
        <a href="https://vlab.co.in">HOME</a>
    </li>
    <li class="nav-item px-2 m-1">
        <a href="https://vlab.co.in/participating-institutes">PARTNERS</a>
    </li>
    <li class="nav-item px-2 m-1">
        <a href="https://vlab.co.in/contact-us">CONTACT</a>
    </li>
</ul>