<div>
	{{#each experiment-sections }}
	<li>
		<span> {{sect-name}} </span>
		<ol>
			{{#each experiments }}
			<li>
				<div class="list-of-experiments-container">
					<a href={{ this.link }}>
						{{ this.name }}
					</a>
					<div class="list-of-experiments-display-rating">
						<rating-display 
							spreadsheetID="1x12nhpp0QvnsA6x-O1sV4IA9SAbfVsq_wiexWkutOmU" sheetName="Exp-Rating-Clean"
							columnName="Experiment Name" columnValue= "{{ this.name }}" imagesDirectory="https://virtual-labs.github.io/svc-rating/"></rating-display>
					</div>
				</div>
			</li>
			{{/each}}
		</ol>
	</li>
	{{/each}}
</div>
