<ul class="target-audience">
	<li>
		<span> UG </span>
		<ul>
		{{#each targetAudience.UG }}
			<li> {{ this }} </li>
		{{/each}}
		</ul>
	</li>
	
	<li>
		<span> PG </span>
		<ul>
		{{#each targetAudience.PG }}
			<li> {{ this }} </li>
		{{/each}}
		</ul>
	</li>		
</ul>